body {
    padding: 0;
    margin : 0;
}
h1,
h2,
h3,
h4 {
    font-family: 'Shrikhand', sans-serif;
}

p,
a {
    font-family: 'Roboto', sans-serif;
}

header {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-flow      : row;
    position: relative;

    a{
        position: absolute;
        left: 2em;
        color: gray;
    }
    a:hover{
        color: black;
    }
    img {
        width  : 200px;
        padding: 20px;
    }
}
div.titre{
    width: 520px;
    h1{
        margin-left: 25px;
        text-transform: uppercase;
    }
  i{
        font-size: 1.5em;
        position: absolute;
        left: initial;
        right: 10px;
    }
}

.fond {
    width: 100vw;
}

main {
    margin-top: -40px;

}

.titre {
    display  : flex;
    flex-flow: row wrap;
    position : relative;

    i {
        position: absolute;
        left    : 220px;
        top     : 25px;
    }
}

section {
    z-index                : 1;
    position               : relative;
    display                : flex;
    flex-flow              : column;
    align-items            : center;
    background-color       : #f6f6f6;
    border-top-left-radius : 35px;
    border-top-right-radius: 35px;
    max-width: 850px;
    margin: 0 auto;
.compartiment{
    margin-bottom: 2em;
}
    h2 {
        margin: 0px;
        font-weight: normal;
        color: #383838;
        margin-left: 25px;
    }

    hr {
        background-color: #99e2d0;
        height          : 2px;
        margin          : 0px;
        border          : none;
        width           : 45px;
        margin-left: 25px;
    }

    .rec {
        background-color: #ffffff;
        margin          : 25px;
        position        : relative;
        height          : 60px;
        width           : 350px;
        border-radius   : 15px;
        display         : flex;
        flex-flow       : column;
        justify-content : center;
        box-shadow: 0px 10px 10px 0px #cacaca;
        animation: slide 5s;
    }

    h3{
        margin     : 3px;
        margin-left: 15px;
        font-style: larger;
    }
    p {
        margin     : 3px;
        margin-left: 15px;
        font-size: medium;
    }

    span {
        position: absolute;
        right   : 5px;
        top     : 20px;
    }
}

button {
    background: linear-gradient(90deg, rgba(228,112,218,1) 0%, rgba(228,112,218,1) 35%, rgba(175,95,219,1) 100%);
    box-shadow      : 0px 10px 10px 0px #b8b8b8;
    color           : white;
    border-radius   : 25px;
    height          : 40px;
    border          : none;
    margin          : 20px;
    width           : 150px;
    margin-bottom: 7em;
    font-size: 15px;
    font-weight: bolder;
}

footer {
    background-color: #353535;

    h4 {
        font-size  : 20px;
        margin     : 0;
        margin-left: 15px;
        padding-top: 20px;
        color      : white;
    }

    div {
        padding        : 5px;
        display        : flex;
        flex-flow      : column;
    }
    
    i{
        margin-right: 10px;
        }

    a {
        color          : white;
        padding        : 10px;
        text-decoration: none;
    }
}
@keyframes slide{
    from{
        transform: translateY(-20px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}



// media queries


/*  tablette et ecran plus grand */
@media screen and (min-width: 667px) {
    .fond {
      width: 70vh;
      width: 100vw;
      height: 40vh;
      object-fit: cover;
    }
    section .rec {
    height: 70px;
    width: 470px;
  }

    section p{
      
    font-size: larger;
    }
    section span{
      
    font-size: larger;
    }
  }




/* telephone */
@media screen and (max-width: 667px) {
    .fond {
        width: 100vw;
    }
    div.titre{
        width: 380px;
    }
}