body {
    padding: 0;
    margin : 0;
}

header {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-flow      : column;

    img {
        width  : 200px;
        padding: 20px;
    }
}

.fond {
    width: 100vw;
}

main {
    margin-top: -40px;

}

section {
    z-index                : 1;
    position               : relative;
    display                : flex;
    flex-flow              : column;
    align-items            : center;
    background-color       : #f6f6f6;
    border-top-left-radius : 35px;
    border-top-right-radius: 35px;

    .rec {
        background-color: #ffffff;
        margin          : 15px;
        position        : relative;
        height          : 50px;
        width           : 330px;

        p {
            margin: 0;
        }

        span {
            position: absolute;
            right   : 5px;
        }
    }
}