body {
    padding: 0;
    margin : 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Shrikhand', sans-serif;
}

p,
a {
    font-family: 'Roboto', sans-serif;
}

header {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-wrap      : wrap;
}

header img {
    width  : 200px;
    padding: 20px;
}

.localisation {
    display         : flex;
    flex-direction  : column;
    text-align      : center;
    background-color: #F2F2F2;
    align-items     : center;
    /* padding: 35px 0; */
}

.loca {
    background-color: #eaeaea;
    width           : 100%;
    box-shadow      : 0px -5px 0px 0px rgba(213, 213, 213, 0.89);
}

.loca p {
    color : #353535;
    margin: revert;
}

.loca i {
    margin-right: 5px;
}

h1 {
    font-size: 25px;
    margin: 30px 0
}

.localisation :nth-child(3) {
    font-size: 18px;
    margin   : 0;
    /*! font-weight: 100; */
    /*! font-weight: 400; */
    /*! font-variant: jis78; */
}

button {
    background: linear-gradient(90deg, rgba(228, 112, 218, 1) 0%, rgba(228, 112, 218, 1) 35%, rgba(175, 95, 219, 1) 100%);
    box-shadow: 0px 10px 10px 0px #b8b8b8;
    color: white;
    border-radius: 25px;
    height: 50px;
    border: none;
    margin: 20px 0 35px 0;
    width: 230px;
    font-size: 15px;
    font-weight: bolder;
}

.bloc{
    /* max-width: 1200px;
    margin: 0 auto; */
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 5%
}

.fonctionnements section {
    display        : flex;
    flex-flow      : wrap row;
    justify-content: space-around;
}

.fonctionnements div{
    background-color: #fafafa;
    box-shadow      : 0px 10px 10px 0px #b8b8b8;
    margin          : 15px;
    border-radius   : 20px;
    height          : 60px;
    display         : flex;
    flex-flow       : row wrap;
    align-items     : center;
    width           : 100%;
    max-width: 400px;
}

.fonc-chif {
    background-color: #9356DC;
    height          : 18px;
    width           : 18px;
    color           : white;
    border-radius   : 25px;
    text-align      : center;
    position        : relative;
    right           : 15px;
    padding         : 5px;
}

.fonctionnements div :nth-child(2) {
    margin-left: 20px;
}

.fonctionnements div :nth-child(3) {
    margin-left: 30px;
}

.fonctionnements .violet {
    background-color: #eed9fa;
}

.fonctionnements .violet :nth-child(2) {
    color: #9356DC;
}

main {
    background-color: #F2F2F2;
    padding-bottom: 35px;
    width: 100%;

}

h2 {
    margin-bottom: 45px;
}

section.restaurants {
    justify-content: space-between;
    display        : flex;
    flex-wrap      : wrap;
    /* justify-content: center; */
}

main figure {
    border-radius: 20px;
    padding-bottom: 15px;
    box-shadow   : 0px 10px 10px 0px #b8b8b8;
    max-width        : 500px;
    margin: 0;
    margin-bottom: 35px;
    /* height       : 450px; */
    /* width: 100%; */
}

.nouveau {
    position        : absolute;
    bottom: 24em;
    right: 2%;
    width           : 5em;
    background-color: aquamarine;
    height          : 2em;
    align-items     : center;
    display         : flex;
    justify-content : center;
    color: cadetblue;
}

main figcaption {
    height     : 65px;
    /* margin-left: 10px; */
    color      : black;
}

main img {
    width: 100%;
    /* width        : 450px; */
    height       : 330px;
    object-fit   : cover;
    border-radius: 20px 20px 0px 0px;
}

a {
    text-decoration: none;
    position: relative;
    max-width: 500px;
    width: 100%;
}

figcaption div {
    position : relative;
    display  : flex;
    flex-flow: column;
    margin   : 10px 10px;
}

figcaption div h3,
p {
    margin: 7px;
}

figcaption div i {
    position : absolute;
    right    : 20px;
    font-size: 25px;
}

footer {
    background-color: #353535;
}

h4 {
    font-size  : 20px;
    margin     : 0;
    margin-left: 15px;
    padding-top: 20px;
}

h4,
footer a {
    color: white;
}

footer div {
    padding        : 5px;
    display        : flex;
    flex-flow      : column;
}
footer i{
margin-right: 10px;
}

footer a {
    padding: 10px;
}









/* media queries */
@media screen and (max-width: 1146px) {
    a, main figure{
        max-width: 100%;
    }
}


/* ecran un peu plus grand qu'une tablette */

/* telephone */
@media screen and (max-width: 700px) {

    h1 {
        max-width: 255px;
    }

    .localisation :nth-child(3) {
        max-width: 351px;
    }

    a, main figure{
        max-width: 100%;
    }

    main img {
        height: 250px;
    }

    .nouveau{
        top: 15px;
    }
}
@media screen and (max-width: 450px) {

    main img {
        height: 190px;
    }

}