body {
    padding: 0;
    margin : 0;
}

header {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-wrap      : wrap;
}

header img {
    width  : 200px;
    padding: 20px;
}

.localisation {
    display         : flex;
    flex-direction  : column;
    text-align      : center;
    background-color: #F2F2F2;
    align-items: center;
}

.loca {
    background-color: #eaeaea;
    width: 100%;
    border-top: solid #d5d5d5 3px;
}
.loca p{
    color: #353535;
}

h1 {
    font-size: 25px;
}

.localisation :nth-child(3) {
    font-size: 20px;
    margin   : 0;
}

button {
    background-color: #9356DC;
    box-shadow      : 0px 10px 10px 0px #b8b8b8;
    color           : white;
    border-radius   : 25px;
    height          : 40px;
    border          : none;
    margin          : 20px;
}

.fonctionnements section {
    display        : flex;
    flex-flow      : wrap row;
    justify-content: space-around;
}

.fonctionnements div {
    background-color: #fafafa;
    box-shadow      : 0px 10px 10px 0px #b8b8b8;
    margin          : 30px;
    border-radius   : 20px;
    height          : 60px;
    display         : flex;
    flex-flow       : row wrap;
    align-items     : center;
    width           : 240px;
}

.fonc-chif {
    background-color: #9356DC;
    height          : 18px;
    width           : 18px;
    color           : white;
    border-radius   : 25px;
    text-align      : center;
    position        : relative;
    right           : 10px;
    padding         : 5px;
}

.fonctionnements div :nth-child(2) {
    margin-left: 10px;
}

.fonctionnements div :nth-child(3) {
    margin-left: 20px;
}

.fonctionnements .violet {
    background-color: #eed9fa;
}

.fonctionnements .violet :nth-child(2) {
    color: #9356DC;
}

main {
    background-color: #F2F2F2;

}


h2 {
    margin: 20px;
    padding: 30px;
}

.container {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
}

main figure {
    border-radius: 20px;
    box-shadow   : 0px 10px 10px 0px #b8b8b8;
    width        : 600px;
    height       : 450px;
}

main figcaption {
    height     : 65px;
    margin-left: 10px;
    color      : black;
}

main img {
    width        : 600px;
    height       : 360px;
    object-fit   : cover;
    border-radius: 20px 20px 0px 0px;
}

a {
    text-decoration: none;
}

figcaption div {
    position : relative;
    display  : flex;
    flex-flow: column;
    margin   : 10px 10px;
}

figcaption div i {
    position: absolute;
    right   : 45px;
}

footer {
    background-color: #353535;
}

h3 {
    font-size  : 20px;
    margin     : 0;
    margin-left: 15px;
    padding-top: 20px;
}

h3,
footer a {
    color: white;
}

footer div {
    padding        : 5px;
    display        : flex;
    flex-flow      : row wrap;
    justify-content: space-around;
}

footer a {
    padding: 10px;
}









/* media queries */



/* ecran un peu plus grand qu'une tablette */
@media screen and (max-width: 1355px) and (min-width:1024px) {
    main figure {
        width : 530px;
        height: 370px;
    }

    main img {
        width : 530px;
        height: 290px;
    }

}


/* telephone */
@media screen and (max-width: 667px){
    main figure {
        width : 300px;
        height: 290px;
    }
    main img {
        width : 300px;
        height: 200px;
    }
    footer div{
        flex-flow: column;
    }
}